<div id="profileContaner">
    <div class="container pato45">
        <div class="row">
            <div class="col-md-3">
                <div class="avatarFrameonline ">
                    <img id="homeAvatarPicture" class="avatarImage img-fluid" src="../../assets/img/generic_avatar.png" alt="Avatar">
                </div>
                <hr>
                <div>
                    <span> Cambiar foto</span>
                    <br>
                    <label for="" class="custom-file-upload">
                    <input type="file">
                    Subir Avatar
                  </label>
                </div>
            </div>
            <div class="col-md-9">
                <div>
                    <label type="fixed" for="">Nick</label>
                    <input type="text" class="form-control">
                </div>
                <div>
                    <label type="fixed" for="">Subnick</label>
                    <input type="text" class="form-control">
                </div>
                <div>
                    <label type="fixed" for="">Email</label>
                    <input type="email" disabled class="form-control">
                </div>
                <div>
                    <label type="fixed" for="">Status</label>
                    <select class="form-control">
                      <option value="online">Conectado</option>
                      <option value="away">Ausente</option>
                      <option value="busy">Ocupado</option>
                      <option value="appear_offline">Descanectado</option>
                    </select>
                </div>
                <hr>
                <a href="" class="btn btn-primary btn-block">Guardar</a>
            </div>
        </div>
    </div>
</div>
