<div id="homeContaner">
    <div class="whiteBorderGlassBox">
        <div class="homeHeadContainer">
            <div class="row">
                <div class="col-md-auto ">
                    <div class="avatarFrameonline ">
                        <img id="homeAvatarPicture" src="../../assets/img/generic_avatar.png" alt="Avatar">
                    </div>
                </div>
                <div class="col">
                    <b>Mildred</b>
                    <div>
                        <span>Online</span>
                        <br>
                        <span> Escriba un mensaje personal</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="whiteContainerPadded marto15">
        <div class="row">
            <div class="col">
                <input class="form-control" type="text" placeholder="Buacar amigo" [(ngModel)]="query">
            </div>
            <div class="col-md-auto">
                <img class="icon" src="../../assets/img/logo_live_add.png" alt="">
            </div>
        </div>
        <hr>
        <b>Amigos ({{friends.length}} / {{friends.length}} )</b>
        <ng-container *ngFor="let user of friends | search: query ; let i = index;">

            <span routerLink="/conversation/{{user.uid}}" class="disblo marbo5">
                <img class="user-status" src="../../assets/img/{{user.status}}.png" alt="status {{user.status}}">

                <b>{{user.nick}}</b>  - {{user.subnick || 'no subnick'}}
                <small> {{user.email}}</small>
            </span>

        </ng-container>
    </div>
</div>


<!-- <b>No agregados</b>
<ng-container *ngFor="let user of friends; let i = index;">
    <div *ngIf="!user.friend">
        {{i}}. {{user.nick}} - {{user.email}}
    </div>
</ng-container> -->